<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CollectionTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E1484061CACFFBE00E7BF2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E14841F1CACFFBE00E7BF2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E14842A1CACFFBE00E7BF2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
